.form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
  margin: 10px
}

.full-width {
  width: 100%;
}

.small-width {
  height: 60%;
}

.flex-container {
  display: flex;
  flex-direction: column;
/*  background-color: rgba(255, 192, 203, 0.58); */
}
/*
.flex-container > * {
  width: 100%;
}
*/
.input {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-focused .mat-form-field-ripple {
    background-color: darkblue !important;
}

.mat-focused .mat-form-field-label {
    color: darkblue !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: darkblue !important;
}


.mat-form-field-label{
  color:darkblue !important;
}
.mat-form-field-underline{
  background-color:darkblue !important;
}

.mat-tree {
  background: transparent;
}

.mat-tree-node {
  color: black;
}

.mat-tree-button {
  border-width: 1px;
  border-style: outset;
  border-color: lightgrey;
  border-image: initial;
  padding: 5px 10px;
  margin: 0px;
  cursor: pointer;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: grey;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: grey;
}
