
<!--<span class="material-icons">
record_voice_over
</span>
-->
<!--<a mat-icon-button routerLink="">
  <mat-icon>Twój scenariusz</<mat-icon>
</a> -->

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="end none">
  <div fxFlex="10%" > <!-- -->
    <a mat-icon-button routerLink="/home">
      <mat-icon aria-label="Strona startowa">home</mat-icon>
    </a>
  </div>
  <div>
    <a mat-icon-button routerLink="/home">
      <mat-icon aria-label="Cofnij">arrow_back</mat-icon>
    </a>
  </div>
  <div>
    <a mat-icon-button>
      <mat-icon aria-label="Pomoc">contact_support</mat-icon>
    </a>
  </div>
  <div>
    <a mat-icon-button>
      <mat-icon aria-label="Wielkość czcionki">font_download</mat-icon>
    </a>

  </div>
  <div>
    <a mat-icon-button>
      <mat-icon aria-label="Kontrast">brightness_6</mat-icon>
    </a>
  </div>
  <div>
    <a mat-icon-button routerLink="/scenario">
      <mat-icon aria-label="Twój scenariusz">co_present</mat-icon>
    </a>
  </div>
  <div fxFlex="10%"></div>
</div>


