
<!--<span class="material-icons">
record_voice_over
</span>
-->
<!--<a mat-icon-button routerLink="">
  <mat-icon>Twój scenariusz</<mat-icon>
</a> -->

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="end none">
  <div fxFlex="10%">
    <button mat-icon-button aria-label="Strona startowa" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button aria-label="Cofnij" routerLink="/home">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button aria-label="Pomoc">
      <mat-icon>contact_support</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button aria-label="Wielkość czcionki">
      <mat-icon>font_download</mat-icon>
    </button>

  </div>
  <div>
    <button mat-icon-button aria-label="Kontrast">
      <mat-icon>brightness_6</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button aria-label="Twój scenariusz" routerLink="/scenario">
      <mat-icon>co_present</mat-icon>
    </button>
  </div>
  <div fxFlex="10%"></div>
</div>



